
html {
    
    header{
        text-align: center;
    }

    article, nav , header {
        background-color:#999999;
        margin:10px;
        padding: 10px;
    }
    nav {

        img {
            display: block;
            margin:0px auto;
            width:100%; 
        }
    }

    article {
        span {
            font-weight: bold;
        }
        p {
            margin-bottom: 10px;
        
        }
        > ul {
            display: flex;
            li {
                margin:10px;
            }
        }
        footer {
            h2 {
                font-weight:bolder;
            }
            img {
                float:left;
                margin: 10px;
            }
        }
    }
}

@media screen and (min-width:600px) {
    html {
        body {
            max-width: 800px;
            margin: 0px auto;
            display: flex;
            flex-wrap: wrap;
            header {
                flex-basis: 100%
            }
            main{
                flex:1;
            

            > article{
                
                position: relative;
                >img {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    margin: 10px;
                }
                padding-left: 60px;

                footer {
                    
                    li{
                        align-items:flex-start;
                    display: flex;
                    img {
                        display: block;
                    }
                }
                }
            }
            }

        }

    }
}

