main {
  perspective: 900px;
  width: 100vw;
  height: 100vh;
}
main .hexacarrousel {
  transform-style: preserve-3d;
  position: absolute;
  width: 200px;
  height: 200px;
  top: calc(50% - 200px / 2);
  left: calc(50% - 200px / 2);
}
main .hexacarrousel .cara {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
  background-color: red;
}
main .hexacarrousel .cara:nth-child(1) {
  transform: rotateY(0 deg) translateZ(173.20508076px);
}
main .hexacarrousel .cara:nth-child(2) {
  transform: rotateY(60 deg) translateZ(173.20508076px);
}
main .hexacarrousel .cara:nth-child(3) {
  transform: rotateY(120 deg) translateZ(173.20508076px);
}
main .hexacarrousel .cara:nth-child(4) {
  transform: rotateY(180 deg) translateZ(173.20508076px);
}
main .hexacarrousel .cara:nth-child(5) {
  transform: rotateY(240 deg) translateZ(173.20508076px);
}
main .hexacarrousel .cara:nth-child(6) {
  transform: rotateY(300 deg) translateZ(173.20508076px);
}
