html header {
  text-align: center;
}
html article,
html nav,
html header {
  background-color: #999999;
  margin: 10px;
  padding: 10px;
}
html nav img {
  display: block;
  margin: 0px auto;
  width: 100%;
}
html article span {
  font-weight: bold;
}
html article p {
  margin-bottom: 10px;
}
html article > ul {
  display: flex;
}
html article > ul li {
  margin: 10px;
}
html article footer h2 {
  font-weight: bolder;
}
html article footer img {
  float: left;
  margin: 10px;
}
@media screen and (min-width: 600px) {
  html body {
    max-width: 800px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
  }
  html body header {
    flex-basis: 100%;
  }
  html body main {
    flex: 1;
  }
  html body main > article {
    position: relative;
    padding-left: 60px;
  }
  html body main > article > img {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 10px;
  }
  html body main > article footer li {
    align-items: flex-start;
    display: flex;
  }
  html body main > article footer li img {
    display: block;
  }
}
